@import "bourbon";
@import "vars";

/*==========  Desktop First  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1324px) {
    /*header*/
    .header__logo {
        margin-bottom: 10px;
        margin-top: 6px;
        text-align: center;
    }
    .header-text {
        position: absolute;
        right: -30%;
        top: 10%;
        width: 96.66666666666666%;
    }
    /* Center block of services*/
    .md-text-center {
        text-align: center;
    }
    /* footer*/
    .footer__logo {
        margin-bottom: 10px;
        margin-top: 6px;
        text-align: center;
    }
    .footer__shedule {
        text-align: center;
    }
    .footer__social {
        text-align: center;
    }
    .footer__social img {
        display: block;
        margin: 0 auto;
    }
    .footer__license-text {
        text-align: center;
    }
    .footer__about {
        text-align: center;
    }
    /* block for contact with overlay and button*/
    .appoinment__overlay__divider {
        width: 66%;
    }
    /* navbar*/
    nav ul li a {
        font-size: 14px;
    }
    .navbar-nav>li>a {
        font-size: 13px;
    }
    /* small slider controls*/
    .carousel-controler2 {
        top: 31%;
    }
    .carousel-controler1 {
        top: 31%;
    }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    /*carousel*/
    .header-text {
        position: absolute;
        right: -25%;
        top: 20%;
    }
    .header__about .header__about-phone {
        font-size: 20px;
    }
    .header-text .carousel-text p {
        font-size: 16px;
    }
    .carousel-discount-text {
        font-family: 'Lato', sans-serif;
        font-size: 17px;
    }
    .carousel-discount-text-pink {
        font-size: 17px;
    }
    .carousel-discount-text-blue {
        font-size: 17px;
    }
    /* block for contact with overlay and button*/
    .appoinment__overlay__divider {
        width: 86%;
    }
    /* navbar*/
    .navbar-nav>li>a {
        font-size: 10px;
    }
    nav ul li a {
        font-size: 11px;
    }
    .carousel-controler1 {
        position: relative;
        top: 30%;
        left: 0;
    }
    .carousel-controler2 {
        position: relative;
        top: 30%;
        left: 0;
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    /* header (top of the page)*/
    .header__shedule {
        text-align: center;
    }
    .header__social {
        text-align: center;
    }
    .header__consult-text {
        text-align: center;
    }
    .header__appointment-btn {
        font-size: 13px;
        width: 160px;
    }
    .header__social img {
        display: block;
        margin: 0 auto;
    }
    /* carousel*/
    .carousel-inner img {
        max-height: 290px;
        width: auto;
    }
    .carousel-inner>.item>img {
        max-width: inherit!important;
    }
    .header-text {
        position: absolute;
        right: 1%;
        top: 5%;
    }
    .header__btn {
        text-align: center;
    }
    .header__about {
        text-align: center;
    }
    .header__about .header__about-phone {
        font-size: 16px;
    }
    .header-text .carousel-text p {
        color: rgb(255, 23, 134);
        font-size: 14px;
    }
    .carousel-discount-text {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
    }
    .carousel-discount-text-pink {
        font-size: 16px;
    }
    .carousel-discount-text-blue {
        font-size: 16px;
    }
    .header-text1 .carousel-text p {
        font-size: 14px;
    }
    /*block with overlay and button for registra
tion*/
    .appoinment__button {
        font-size: 15px;
        height: 42px;
        width: 180px;
    }
    .appoinment__overlay h3 {
        font-size: 20px;
    }
    .appoinment__overlay p {
        font-size: 16px;
    }
    /*navbar*/
    .navbar-nav {
        margin: 0px!important;
    }
    .nav>li {
        width: 100%;
        padding: 0!important;
        margin: 0!important;
    }
    .navbar {
        margin-top: 20px!important;
    }
    /*dropdown*/
    .dropdown-menu.columns-2 {
        background-color: #f7f5f5!important;
    }
    .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    .header__logo img {
        width: 100%;
    }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
    /**/
}


/*==========  Mobile First  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {
    /**/
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
    /**/
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    /**/
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    /**/
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
    /**/
}
