@import "bourbon";


$pink: #e5205b;
$button-pink: #f05282;
$main-text-color: #343434;
$blue-text: #354d7b;
$white-text: #fff;
$link-pink: #df114f;

@mixin link-pink{
	color: #df114f;
	font-size: 17px;
	text-decoration: underline;
	font-family: "PT Sans"
}

@mixin text-white{
	color: #fff;
	font-size: 18px;
	font-family: Lato;
}