@import "bourbon";
@import "fonts";
@import "libs";
@import "vars";
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}

*:-moz-placeholder {
    color: #666;
    opacity: 1;
}

*::-moz-placeholder {
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
    color: #666;
}

body input:required:valid,
body textarea:required:valid {
    color: #666;
}

ul {
    padding-left: 0px;
}

body {
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    background: url("../img/big-bg.png") no-repeat, url("../img/b-bg-2.png") repeat;
    font-size: 16px;
    min-width: 320px;
    position: relative;
    overflow-x: hidden;
}

.container {
    background-color: #FFF;
}

a:hover {
    text-decoration: none!important;
}

p {
    line-height: 1;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}


/*logo*/

.header__logo {
    margin-top: 6px;
}


/*block with shedule of work*/

.header__shedule {
    color: $main-text-color;
    font-family: "PT Sans";
    font-size: 17px;
    margin-top: 14px;
    p:nth-of-type(odd) {
        margin-bottom: -3px;
    }
}


/*social icons*/

.social-media-icons {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-media-icons li {
    display: inline-block;
}

.social-media-icons a {
    background-image: url("../img/footer-social-icons.png");
    background-repeat: no-repeat;
    display: block;
    height: 25px;
    transition: all 350ms ease-out;
    -webkit-transition: all 350ms ease-out;
    -o-transition: all 350ms ease-out;
    width: 25px;
}

.social-media-icons a:hover {
    background-position-y: 2px;
    filter: alpha(opacity=80);
    opacity: 0.8;
}

.vk {
    background-position: 0 0;
}

.instagram {
    background-position: -29px 0;
}

.facebook {
    background-position: -58px 0;
}


/*'header social' - block with icons and email*/

.header__social {
    color: $main-text-color;
    font-family: "PT Sans";
    font-size: 16px;
    margin-top: 26px;
}

.header__social-email {
    border-bottom: 1px dashed #000;
    color: #343434;
    cursor: pointer;
    display: inline-block;
}


/*'header about' is a block with phone and address*/

.header__about {
    margin-top: 7px;
    text-align: right;
    .header__about-phone {
        color: $blue-text;
        font-family: "PT Sans";
        font-size: 28px;
        font-weight: 700;
        line-height: 0;
    }
    .header__about-address {
        color: $main-text-color;
        font-family: "PT Sans";
        font-size: 16px;
        font-weight: 400;
        .header__about-map-point {
            position: relative;
            left: -5px;
        }
    }
}

.header__consult-text {
    color: $blue-text;
    font-family: 'Hortensia';
    font-size: 23px;
    margin-top: -10px;
    p {
        margin-top: 15px;
    }
}


/*btn to contact*/

.header__btn {
    margin-top: -10px;
    text-align: right;
}

.header__appointment-btn {
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    @include text-white;
    font-family: "PT Sans";
    background-color: $button-pink;
    font-weight: 400;
    border-radius: 40px;
    border: none;
    font-size: 17px;
    height: 30px;
    margin-top: 7px;
    outline: none;
    width: 212px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &:hover {
        opacity: 0.8;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}


/* Carousel Styles */

.carousel-inner img {
    max-height: 290px;
    width: 100%;
}


/* Carousel Header Styles */

.header-text {
    position: absolute;
    right: -45%;
    top: 10%;
    width: 96.66666666666666%;
}

.header-text1 {
    position: absolute;
    right: 1%;
    top: 10%;
    width: 96.66666666666666%;
}

.header-text .carousel-text p {
    color: #013b4a;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.header-text1 .carousel-text p {
    color: #013b4a;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.carousel-discount-text {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
}

.carousel-discount-text-pink {
    color: $pink;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.carousel-discount-text-blue {
    color: #3789cc;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.carousel-paragrgaph-no-mg {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1;
    margin-top: 0px;
    margin: 0px;
    padding: 5px;
}

.carousel-discount-text-black {
    color: #013b4a;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.carousel-inner img {
    max-height: 290px;
    width: auto;
}

.carousel-inner>.item>img {
    max-width: inherit!important;
}


/* left block about clinic*/

.aboutClinic {
    border: 1px solid #d0d9de;
    margin-top: 24px;
    margin-bottom: 24px;
    h2 {
        background-color: #3789cc;
        color: $white-text;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        font-weight: 400;
        margin: 0px;
        padding: 12px 0px;
        text-align: center;
    }
    p {
        line-height: 20px;
    }
}

.aboutClinic__text {
    color: $main-text-color;
    font-family: "PT Sans";
    font-size: 17px;
    padding: 5px 11px 26px 14px;
}

.aboutClinic__link {
    border-bottom: 1px solid $link-pink;
    color: $link-pink;
    font-family: "PT Sans";
    &:hover {
        color: $link-pink;
    }
    &:active {
        color: $link-pink;
    }
    &:visited {
        color: $link-pink;
    }
}


/* center block of services*/

.service-header {
    color: $blue-text;
    font-family: "Hortensia";
    font-size: 35px;
    font-weight: 400;
    margin-bottom: -10px;
}

.service-header__divider {
    background-color: #4b5e86;
    height: 1px;
    margin-bottom: 30px;
    width: 100%;
}

.services p {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}


/* right block of the specilits and their description*/

.ourSpecialists {
    border: 1px solid #d0d9de;
    margin-top: 24px;
    padding-bottom: 67px;
    h2 {
        background-color: #3789cc;
        color: $white-text;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        font-weight: 400;
        margin: 0px;
        padding: 12px 0px;
        text-align: center;
    }
}

.ourSpecialists__img {
    margin-top: 30px;
    text-align: center;
}

.ourSpecialists__text {
    color: $main-text-color;
    font-family: "PT Sans";
    font-size: 17px;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    text-align: center;
    p {
        line-height: 20px;
    }
}

.ourSpecialists__text h3 {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 8px;
    margin-top: 5px;
}

.ourSpecialists__aboutDoctor {
    color: #4d4d4d;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 5px;
}

.ourSpecialists__text__divider {
    background-color: #008eb2;
    height: 1px;
    margin-top: 10px;
    margin: 0 auto;
    width: 88%;
}

.ourSpecialists__link {
    border-bottom: 1px solid $link-pink;
    color: $link-pink;
    font-family: "PT Sans";
    font-size: 17px;
    font-weight: 400;
    &:hover {
        color: $link-pink;
    }
    &:active {
        color: $link-pink;
    }
    &:visited {
        color: $link-pink;
    }
}


/*block with overlay and button for registration*/

.appoinment {
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background: url("../img/appointment-bg.png");
    height: 455px;
    margin-bottom: 20px;
    position: relative;
}

.appoinment__overlay {
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.6);
    color: #000;
    display: block;
    padding-bottom: 54px;
    padding-top: 18px;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    h3 {
        color: $blue-text;
        font-family: 'Lato', sans-serif;
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 9px;
    }
    p {
        color: #2d2d2d;
        font-family: 'Lato', sans-serif;
        font-size: 23px;
        font-weight: 400;
        line-height: 30px;
        margin: 3px;
    }
}

.appoinment__overlay__divider {
    background-color: $blue-text;
    height: 1px;
    margin-bottom: 20px;
    margin: 0 auto;
    width: 48.5%;
}

.appoinment__button {
    outline: none;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-color: $button-pink;
    border-radius: 40px;
    border: none;
    color: $white-text;
    font-family: "PT Sans";
    font-size: 25px;
    font-weight: 400;
    height: 52px;
    margin-top: 20px;
    width: 303px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        opacity: 0.8;
    }
}


/*footer*/

.footer__logo {
    margin-top: 17px;
}


/*block with shedule of work*/

.footer__shedule {
    color: $main-text-color;
    font-family: "PT Sans";
    font-size: 17px;
    margin-top: 14px;
    p:nth-of-type(odd) {
        margin-bottom: -3px;
    }
}


/*'footer social' - block with icons and email*/

.footer__social {
    color: $main-text-color;
    font-family: "PT Sans";
    font-size: 16px;
    margin-top: 26px;
}

.footer__social-email {
    border-bottom: 1px dashed #000;
    color: #343434;
    cursor: pointer;
    display: inline-block;
}


/*'footer about' is a block with phone and address*/

.footer__about {
    margin-top: 7px;
    text-align: right;
    .footer__about-phone {
        color: $blue-text;
        font-family: "PT Sans";
        font-size: 28px;
        font-weight: 700;
        line-height: 0;
    }
    .footer__about-address {
        color: $main-text-color;
        font-family: "PT Sans";
        font-size: 16px;
        font-weight: 400;
        .footer__about-map-point {
            left: -8px;
            position: relative;
        }
    }
}

.footer__license-text {
    color: $main-text-color;
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 400;
    margin-top: -10px;
}


/*adress where company registered*/

.footer__registerAdress {
    color: $main-text-color;
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 400;
    margin-top: -10px;
    text-align: justify;
}


/*NAV*/

.navbar {
    -moz-border-radius: 0px!important;
    -webkit-border-radius: 0px!important;
    background-color: #3789cc;
    border-radius: 0px!important;
    margin: 0px!important;
    min-height: 40px!important;
}

.nav>li {
    width: 11.1%;
}

.navbar-nav {
    float: none!important;
}

.nav>li>a {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 10px 0px!important;
    text-align: center;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    padding: 0px;
}

.navbar-nav>li>a {
    color: $white-text;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background-color: #549ad3!important;
}

.nav .open>a {
    background-color: #549ad3!important;
}

.navbar-collapse.collapse {
    padding: 0!important;
}

.navbar-toggle .icon-bar {
    background-color: #000;
}


/*dropdown*/

.dropdown-menu.columns-2 {
    background-color: #f7f5f5;
    min-width: 530px;
    padding: 3px 0px 22px 36px;
    p {
        color: $pink;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 10px;
    }
}

.multi-column-dropdown li a {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.multi-column-dropdown li a:hover {
    background-color: #ebebeb!important;
}

.dropdown-menu {
    -moz-border-radius: 0!important;
    -moz-border-radius: none;
    -webkit-border-radius: 0!important;
    -webkit-border-radius: none;
    border-radius: 0!important;
    border-radius: none;
    border: none!important;
    min-width: 200px;
}

.dropdown-menu li {
    list-style: disc;
    margin-left: 15px;
}

.dropdown-menu li a {
    color: #424242;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 5px 0px;
}

.multi-column-dropdown {
    color: #f05685;
}

.multi-column-dropdown li a {
    clear: both;
    display: block;
    line-height: 1.428571429;
}

.multi-column-dropdown li a:hover {
    background-color: #f5f5f5;
    color: #262626;
    text-decoration: none;
}


/*carousel 2*/

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
    top: 24%;
}

.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;
}

.carousel-control {
    width: 7%;
}

.carousel-controler1 {
    position: relative;
    top: 25%;
    left: 0;
}

.carousel-controler2 {
    position: relative;
    top: 25%;
    left: 0;
}

@import "media"
